<h2>Filtr zgłoszeń</h2>
<form id="advanced_ticket_filter_form" action="." method="POST">{% csrf_token %}
    {{ advanced_filter_form.advanced_ticket_filter }}
    <table id="advanced_filter_table">
        <tr id="related_devices" class="advanced_filter_tr">
            <td class="advanced_filter_td_label">{{ advanced_filter_form.device.label }}:</td>
            <td class="advanced_filter_td_operator">{{ advanced_filter_form.device_operator }}</td>
            <td class="advanced_filter_td_field last"   >
                {{ advanced_filter_form.device }}
                <button class="filter-objects" data-objects_name='device' data-is_list='true'
                     data-current_list_name='document'>
                Znajdź
                </button>
            </td>
        </tr>
        <tr class="errors_advanced_search_fields"><td class="errors_device" colspan="3"></td></tr>
        <tr class="related_devices_title">
            <td colspan="3" style='text-align: left;'>Wybrane rekordy:</td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
            <td colspan="10" style="width: 475px">
                <table>
                    <tr id="related_devices_table_header">
                        <td class='related_objects_id'>Id</td><td>Nr inw.</td><td style="width:155px !important;">Nazwa</td><td>Producent</td><td>Lokalizacja</td>
                    </tr>
                </table>
            </td>
            <td>
        </tr>


        <tr class="advanced_filter_tr">
            <td class="advanced_filter_td_label">{{ advanced_filter_form.cyclic.label }}:</td>
            <td class="advanced_filter_td_operator">{{ advanced_filter_form.cyclic_operator }}</td>
            <td class="advanced_filter_td_field last">{{ advanced_filter_form.cyclic }}</td>
        </tr>
        <tr class="advanced_filter_tr">
            <td class="advanced_filter_td_label">{{ advanced_filter_form.sort.label }}:</td>
            <td class="advanced_filter_td_operator">{{ advanced_filter_form.sort_operator }}</td>
            <td class="advanced_filter_td_field last">{{ advanced_filter_form.sort }}</td>
        </tr>
        <tr class="errors_advanced_search_fields"><td class="errors_cyclic" colspan="3"></td></tr>
        <tr class="advanced_filter_tr">
            <td class="advanced_filter_td_label">{{ advanced_filter_form.priority.label }}:</td>
            <td class="advanced_filter_td_operator">{{ advanced_filter_form.priority_operator }}</td>
            <td class="advanced_filter_td_field last">{{ advanced_filter_form.priority }}</td>
        </tr>
        <tr class="errors_advanced_search_fields"><td class="errors_priority" colspan="3"></td></tr>
        <tr class="advanced_filter_tr">
            <td class="advanced_filter_td_label">{{ advanced_filter_form.cost.label }}:</td>
            <td class="advanced_filter_td_operator">{{ advanced_filter_form.cost_operator }}</td>
            <td class="advanced_filter_td_field last">{{ advanced_filter_form.cost }}</td>
        </tr>
        <tr class="errors_advanced_search_fields"><td class="errors_cost" colspan="3"></td></tr>
        <tr class="advanced_filter_tr">
            <td class="advanced_filter_td_label">{{ advanced_filter_form.date_add_from.label }}:</td>
            <td class="advanced_filter_td_operator" data-field_name='date_add'>{{ advanced_filter_form.date_add_operator }}</td>
            <td colspan="2" class="advanced_filter_td_field date_add_from_to last">{{ advanced_filter_form.date_add_from }} - {{ advanced_filter_form.date_add_to }}</td>
            <td class="advanced_filter_td_field date_add last">{{ advanced_filter_form.date_add }}</td>
        </tr>
        <tr class="errors_advanced_search_fields"><td class="errors_date_add" colspan="3"></td></tr>
        <tr class="advanced_filter_tr">
            <td class="advanced_filter_td_label">{{ advanced_filter_form.status.label }}:</td>
            <td class="advanced_filter_td_operator">{{ advanced_filter_form.status_operator }}</td>
            <td class="advanced_filter_td_field last">{{ advanced_filter_form.status }}</td>
        </tr>
        <tr class="errors_advanced_search_fields"><td class="errors_status" colspan="3"></td></tr>
        <tr class="advanced_filter_tr">
            <td class="advanced_filter_td_label">{{ advanced_filter_form.person_creating.label }}:</td>
            <td class="advanced_filter_td_operator">{{ advanced_filter_form.person_creating_operator }}</td>
            <td class="advanced_filter_td_field last">{{ advanced_filter_form.person_creating }}</td>
        </tr>
        <tr class="errors_advanced_search_fields"><td class="errors_person_creating" colspan="3"></td></tr>
        <tr class="advanced_filter_tr">
            <td class="advanced_filter_td_label">{{ advanced_filter_form.date_closing_from.label }}:</td>
            <td class="advanced_filter_td_operator" data-field_name='date_closing'>{{ advanced_filter_form.date_closing_operator }}</td>
            <td colspan="2" class="advanced_filter_td_field date_closing_from_to last">{{ advanced_filter_form.date_closing_from }} - {{ advanced_filter_form.date_closing_to }}</td>
            <td class="advanced_filter_td_field date_closing last">{{ advanced_filter_form.date_closing }}</td>
        </tr>
        <tr class="errors_advanced_search_fields"><td class="errors_date_closing" colspan="3"></td></tr>
        <tr class="advanced_filter_tr">
            <td class="advanced_filter_td_label">{{ advanced_filter_form.person_closing.label }}:</td>
            <td class="advanced_filter_td_operator">{{ advanced_filter_form.person_closing_operator }}</td>
            <td class="advanced_filter_td_field last">{{ advanced_filter_form.person_closing }}</td>
        </tr>
        <tr class="errors_advanced_search_fields"><td class="errors_person_closing" colspan="3"></td></tr>
        <tr class="advanced_filter_tr">
            <td class="advanced_filter_td_label">{{ advanced_filter_form.description.label }}:</td>
            <td class="advanced_filter_td_operator">{{ advanced_filter_form.description_operator }}</td>
            <td colspan="3" class="advanced_filter_td_text_field last">{{ advanced_filter_form.description }}</td>
        </tr>
        <tr class="errors_advanced_search_fields"><td class="errors_description" colspan="3"></td></tr>
        <tr class="advanced_filter_tr">
            <td class="advanced_filter_td_label">{{ advanced_filter_form.comment.label }}:</td>
            <td class="advanced_filter_td_operator">{{ advanced_filter_form.comment_operator }}</td>
            <td colspan="3" class="advanced_filter_td_text_field last">{{ advanced_filter_form.comment }}</td>
        </tr>
        <tr class="errors_advanced_search_fields"><td class="errors_comment" colspan="3"></td></tr>
    </table>
    <input class="search" type="submit" value="Szukaj"/>
</form>


<script type="text/javascript" src="/site_media/filter_objects.js"></script>
