{% extends "base.html" %}
{% load i18n admin_modify static admin_urls comments show_history static %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {{ media }}
    <script type="text/javascript" src="{% static 'filter_objects.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery-ui-1.8.17.custom/js/jquery-ui-1.8.17.custom.min.js' %}"></script>
    {# <script src="https://code.jquery.com/jquery-1.9.1.js"></script> #}
    {# <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script> #}
    <script type="text/javascript" src="{% static 'custom_autocomplete.js' %}"></script>
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'admin/css/base.css' %}" type="text/css" />
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom_autocomplete.css' %}" />
    {# <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" /> #}
{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.model_name|lower }} change-form{% endblock %}

{% block content %}
<div id="content" class="{% if ordered_objects %}colMS{% else %}colM{% endif %}">
    {% block content_title %}
        {% if change %}
            <h1>{{ title|cut:"Zmień" }} #{{ original.pk }}</h1>
        {% elif title %}
            <h1>{{ title }}</h1>
        {% endif %}
    {% endblock %}
    <br class="clear" />
    <div id="content-main">
        {% block object-tools %}
            {% if change and not is_popup %}
                <ul class="object-tools">
                    {% block object-tools-items %}
                        {% if content_type_model == "service" %}
                            <li><a class="quick_service_pdf" href="#{{ original.pk }}" class="historylink">{% trans "Generuj PDF" %}</a></li>
                        {% endif %}
                        {% if content_type_model == "invoice" %}
                            <li><a class="reset_costbreakdown" href="#{{ original.pk }}" class="historylink">{% trans "Resetuj podział kosztów" %}</a></li>
                        {% endif %}
                        <li><a href="#" id="print_admin" class="historylink">{% trans "Wydrukuj" %}</a></li>
                        {% if content_type_model in "service ticket" %}
                            <li><a href="#" id="passport_manager" class="historylink">{% trans "Dodaj wpis do paszportu" %}</a></li>
                        {% endif %}
                        <li><a href="{% url opts|admin_urlname:'history' original.pk|admin_urlquote %}" class="historylink">{% trans "History" %}</a></li>
                    {% endblock %}
                </ul>

                <script>
                    $("#print_admin").on("click", function() {
                        var form_url = "{% url 'pdf-generate-admin' content_type_model %}?objects={{ original.pk }}";
                        $.get(form_url, function(data) {
                            $.fancybox(data, {});
                        });
                    });

                    $("#passport_manager").on("click", function() {
                        var form_url = "{% url 'passport-manager' %}?model={{ content_type_model }}&obj={{ original.pk }}";

                        if (window.user_group_permissions.indexOf("cmms.add_devicepassport") < 0) {
                            alert("{% trans 'Brak wymaganych uprawnień!' %}");
                            return false;
                        }

                        $.get(form_url, function(data) {
                            $.fancybox(data, {});
                        });
                    });

                    if (window.user_group_permissions.indexOf("cmms.add_devicepassport") < 0) {
                        $("#passport_manager").hide();
                    }
                </script>
            {% endif %}
        {% endblock %}

        <form {% if has_file_field %}enctype="multipart/form-data"{% endif %} action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form">
            {% csrf_token %}
            {% block form_top %}{% endblock %}
            <div>
                {% if is_popup %}
                    <input type="hidden" name="_popup" value="1" />
                {% endif %}
                {% if save_on_top %}
                    {% block submit_buttons_top %}{% submit_row %}{% endblock %}
                {% endif %}
                {% if errors %}
                    <p class="errornote">
                        {% blocktrans count counter=errors|length %}
                            Please correct the error below.
                        {% plural %}
                            Please correct the errors below.
                        {% endblocktrans %}
                    </p>
                    {{ adminform.form.non_field_errors }}
                {% endif %}

                {% if change or add %}
                    <style>
                        .form-row button,
                        h1 button {
                            font-size: 12px;
                            margin-left: 20px;
                            padding: 5px 10px;
                        }
                        ul.description {
                            margin-left: 0 !important;
                        }
                        .cmms-device.change-form .field-service_interval {
                            padding-top: 0;
                        }
                        .cmms-device.change-form .field-service_interval > div {
                            display: inline-block;
                        }
                        .cmms-device.change-form .field-service_interval_type {
                            border-bottom: 0;
                            padding: unset;
                            font-size: unset;
                            position: relative;
                            top: 10px;
                        }
                    </style>
                    <script>
                        $(document).ready(function() {
                            $("#add_comment").on("click", function(e) {
                                e.preventDefault();
                                var comment = $("#id_comment").val();
                                add_comment(comment, "{{ object_id }}", {{ user.pk }}, {{ content_type_id }});
                                return false;
                            });

                            $("a.quick_service_pdf").click(function() {
                                var service = this.hash.replace('#', '');
                                generate_pdf('Service', service);
                            });

                            $("a.reset_costbreakdown").click(function() {
                                if (confirm("{% trans 'Czy na pewno chcesz zresetować podział kosztów? Wszystkie zmiany zostaną utracone!' %}")) {
                                    var invoice = this.hash.replace('#', '');
                                    var url = "/reset-costbreakdown/?invoice=" + invoice;
                                    $.get(url, function(data) {
                                        if (data === 'reset') {
                                            location.reload();
                                        }
                                    });
                                    return false;
                                } else {
                                    return false;
                                }
                            });

                            $("[id^='id_devicegallery_set-']").attr("rows", 5);

                            $("#inspection_form").find("#id_name").css("width", "800");
                            $("[id$='-planned_date'], [id$='-ticket_date']").css("width", "200");

                            {% if custom_combo_fields %}
                                {% for field in custom_combo_fields %}
                                    $("#id_{{ field }}").select2();
                                {% endfor %}
                            {% endif %}

                            $("select[id^='id_Document_']").each(function() {
                                $(this).prop("disabled", true);
                                if ($(this).val()) {
                                    $(this).next().remove();
                                }
                            });

                            var submitted = false;
                            $("#content-main form").submit(function(e) {
                                $("select[id^='id_Document_']").each(function() {
                                    $(this).prop("disabled", false);
                                });
                                submitted = true;
                            });

                            $(window).on('beforeunload', function(e) {
                                var warn = false;
                                $(".dynamic-Document_ticket a.add-another, .dynamic-Document_service a.add-another").prev().each(function() {
                                    if ($(this).val()) warn = true;
                                });
                                if (warn && !submitted) {
                                    return '{% trans "Nie zapisano dodanych dokumentów, opuścić stronę?" %}';
                                }
                            });

                            $("[id$='-DELETE']").click(function() {
                                if ($(this).prop("checked")) {
                                    $(this).parents("tr").hide();
                                }
                            });
                        });
                    </script>
                {% endif %}

                {% block field_sets %}
                    {% for fieldset in adminform %}
                        {% if content_type_model != "document" or not is_popup or not forloop.first %}
                            {% if forloop.last %}
                                {% if original and content_type_model in "ticket service" %}
                                    {% get_comment_count for original as comment_count %}
                                    <style>
                                        .comments h2 {
                                            margin-bottom: 2em;
                                        }
                                        .comments dl {
                                            padding: 0;
                                            margin-top: 2em;
                                        }
                                        .comments dt {
                                            width: 12em;
                                            font-weight: bold;
                                            text-align: right;
                                            border-right: 1px solid #999;
                                            float: left;
                                            clear: left;
                                            margin: 0;
                                            height: 4em;
                                            line-height: 16px;
                                            padding: 0.5em 1.5em 0.5em 0;
                                        }
                                        .comments span {
                                            font-weight: normal;
                                            color: #999;
                                        }
                                        .comments dd {
                                            margin: 0 0 0 15em;
                                            padding: 0.5em 1.5em 0.5em 0;
                                            min-height: 4em;
                                        }
                                        .comments p {
                                            font-size: inherit;
                                            margin: 0 !important;
                                            padding: 0 !important;
                                            line-height: 16px;
                                        }
                                    </style>
                                    <fieldset class="module aligned comments">
                                        <h2>{% blocktrans %}Komentarze ({{ comment_count }}){% endblocktrans %}</h2>
                                        <div class="form-row sort">
                                            {% if content_type_model == "ticket" and perms.cmms.add_comment_ticket or content_type_model == "service" and perms.cmms.add_comment_service %}
                                                {% if can_add_comment %}
                                                    <label>{% trans "Komentarze" %}</label>
                                                    <textarea id="id_comment" rows="4" cols="40" name="comment" placeholder="{% trans 'Dodaj komentarz...' %}"></textarea>
                                                    <button id="add_comment" style="vertical-align: bottom;" type="button">{% trans "Dodaj" %}</button>
                                                {% endif %}
                                            {% endif %}
                                            {% if comment_count != 0 %}
                                                {% render_comment_list for original %}
                                            {% endif %}
                                        </div>
                                    </fieldset>
                                {% endif %}
                            {% endif %}
                            {% include "admin/includes/fieldset.html" %}
                        {% endif %}
                    {% endfor %}
                    {% block inline_field_sets %}
                        {% if content_type_model not in "ticket service" %}
                            {% for inline_admin_formset in inline_admin_formsets %}
                                {% include inline_admin_formset.opts.template %}
                            {% endfor %}
                        {% endif %}
                    {% endblock %}
                {% endblock %}

                {% if show_history and original %}
                    {% inline_history original %}
                {% endif %}
            </div>
            {% block after_field_sets %}{% endblock %}
            {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}
        </form>
    </div>
</div>

{% if adminform.first_field and add %}
    <script type="text/javascript">
        var first_field = document.getElementById("{{ adminform.first_field.id_for_label }}");
        if (first_field) {
            first_field.focus();
        }
    </script>
{% endif %}

{% prepopulated_fields_js %}
{% endblock %}