{% load i18n admin_urls static admin_modify %}
{% load custom_filters %}


{% block content %}
  <div id="content-main">
    <h1>{{ model_verbose|capfirst }} – Szczegóły</h1>

    <div class="module">
      {% for name, options in printed_fieldsets %}
        <h2>{{ name }}</h2>
        <table class="detail-table">
          {% for field_name in options.fields %}
            {% with field=adminform.form.fields|get_item:field_name %}
              <tr>
                <th>{{ field.label }}</th>
                <td>{{ field_values|get_item:field_name }}</td>
              </tr>
            {% endwith %}
          {% endfor %}
        </table>
      {% endfor %}
    </div>

    {% if inline_admin_formsets %}
      {% for inline_admin_formset in inline_admin_formsets %}
        <div class="module">
          <h2>{{ inline_admin_formset.opts.verbose_name_plural }}</h2>
          {% for inline_form in inline_admin_formset.formset.forms %}
            <table class="inline-detail-table">
              {% for name, field in inline_form.fields.items %}
                <tr>
                  <th>{{ field.label }}</th>
                  <td>{{ inline_form.initial|get_item:name }}</td>
                </tr>
              {% endfor %}
            </table>
          {% endfor %}
        </div>
      {% endfor %}
    {% endif %}

    {% if show_comments %}
      <h2>Komentarze</h2>
      <!-- Komentarze tutaj -->
    {% endif %}

    {% if show_invoice_summary %}
      <h2>Podsumowanie</h2>
      <!-- Podsumowanie faktury -->
    {% endif %}

    {% if show_external_services %}
      <h2>Zlecenia zewnętrzne</h2>
      <!-- Zlecenia tutaj -->
    {% endif %}

  </div>
{% endblock %}
