{#{% extends 'base.html' %}#}
<table id="services-table" style="width:100%;" class="display">
	<thead>
		<tr>
            <th width=1%><input type="checkbox" id="s_selall" value=""></th>
			<th>
				#Nr
			</th>
			<th>
				Zgłoszenie
			</th>
			<th>
				Rodzaj
			</th>
			<th>
                Osoba przypisana
			</th>
			<th>
                Opis
			</th>
			<th>
                Status
			</th>
			<th>
                Osoba zlecająca
			</th>
			<th>
                Firma serwisująca
			</th>
			<th>
                Odbiorca zlecenia
			</th>
			<th>
                Data
			</th>
		</tr>
	</thead>
	<tbody>

	</tbody>
</table>

