
{% load static %}
<div class="card mb-3">
    <div class="card-header">
        <h5 class="card-title">{{ fieldset.legend }}</h5>
    </div>
    <div class="card-body">
        {% for field in fieldset %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label_tag }}</label>
                <p class="form-control-plaintext">{{ field.contents }}</p>
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
