{% block content %}
<table id="devices-table" style="width:100%;" class="display" >
	<thead>
		<tr>
			<th width=1%><input type="checkbox" id="selall" value=""></th>
			<th>
				#Nr
			</th>
			<th>
				Nazwa
			</th>
			<th>
				Rodzaj
			</th>
			<th>
				Model
			</th>
			<th>
				Producent
			</th>
			<th>
				Nr seryjny
			</th>
			<th>
                Nr inwentarzowy
			</th>
			<th>
                Lokalizacja
			</th>
            <th>
                Miejsce
			</th>
			<th>
                Osoba odpowiedzialna
			</th>
			<th>
                Nadzór techniczny
			</th>
			<th>
				Data przeglądu
			</th>
			<th>
				Następny przegląd
			</th>
			<th>
                Status
			</th>
            <th title="Żeby wyszukać wpisz numer roku, miesiąca lub dnia, np. 2011 albo 3">
                Data gwarancji
			</th>
		</tr>
	</thead>
	<tbody>

	</tbody>
</table>

        {% endblock %}
